   # WordPress Theme
   WORDPRESS_PARENT_THEME=neve

   # Database Credentials
   MYSQL_ROOT_PASSWORD=your_secure_password
   MYSQL_DATABASE=wordpress
   MYSQL_USER=wordpress
   MYSQL_PASSWORD=your_secure_password
   WORDPRESS_DB_HOST=db:3306

   # WordPress Admin Credentials
   WORDPRESS_ADMIN_USER=admin
   WORDPRESS_ADMIN_PASSWORD=your_secure_admin_password
   WORDPRESS_ADMIN_EMAIL=your.email@example.com