# Database Credentials
MYSQL_ROOT_PASSWORD=your_secure_password
DB_NAME=wordpress
WORDPRESS_DB_USER=root
WORDPRESS_DB_PASSWORD=your_secure_password
WORDPRESS_DB_HOST=db:3306

# WordPress Admin Credentials
WORDPRESS_ADMIN_USER=your_admin_username
WORDPRESS_ADMIN_PASSWORD=your_secure_admin_password
WORDPRESS_ADMIN_EMAIL=your.email@example.com

# Leave these as is unless you know what you're doing
UID=1000
GID=1000
